h1 {
  color: #2C3E50;
  line-height: 100px;
  text-align: left;
}

h2 {color: #2C3E50
;
  text-align: left;
}

h3 {color: #2C3E50
;
  text-align: left;
}

p {color:#061D5A;
   font-family: sans-serif;
}

li {color: #061D5A;
  font-family: sans-serif;
}

ul {font-family: sans-serif;}
